@use "colours";
@use "ui";
@use "forms";


@import "login-forms.scss";

.input {
	@include forms.input;
}

.checkbox-lbl {
	@include forms.checkbox;
}


.error-msg {
	color: red;
	font-size: 0.85rem;
}

.forgot-link {
	float: right;
	font-size: 0.85rem;
	text-decoration: underline;
	color: colours.$link-colour;
}

button.button {
	margin-top: 0.5rem;
	@include ui.btn;
	background-color: colours.$btn-green-background;
	border-color: colours.$btn-green-border;
	color: colours.$btn-green-font;

	&:active {
		background-color: colours.$btn-green-active-background;
		border-color: colours.$btn-green-border;
		color: colours.$btn-green-active-font;
	}
}