@use "colours";
@use "ui";


#page {
	min-height: 100vh;
	padding-top: env(safe-area-inset-top);
	padding-bottom: env(safe-area-inset-bottom);
	display: flex;
	flex-flow: column nowrap;
}


.header {
	flex: 0;
}


.lesson-carousel {
	flex: 1;
	min-height: 23rem;
}