@use "colours";
@use "ui";


#page {
	height: 100vh;
	padding-top: env(safe-area-inset-top);
	@supports(height: -webkit-fill-available) {
		height: -webkit-fill-available;
	}
	display: flex;
	flex-flow: column nowrap;
}


.header {
	flex: 0;
}


.info-box {
}


.lesson-carousel {
	flex: 1;
	min-height: 23rem;
}