@use "colours";
@use "ui";


#page {
	height: 100vh;
	padding-top: env(safe-area-inset-top);
	padding-bottom: env(safe-area-inset-bottom);
	display: flex;
	flex-flow: column nowrap;
}


.header {
	flex: 0;
}


.info-box {
	flex: 0.25 0.25;
}


.lesson-carousel {
	flex: 0.75 0.75;
}