@use "colours";


@mixin base {
	border-width: 1.5px;
	border-style: solid;
	padding: 0.325rem 1rem;
	font-size: 0.85rem;
	cursor: pointer;
}


// Border radius

@mixin pill {
	border-radius: 100rem;
}

@mixin rounded {
	border-radius: 0.75rem;
}


// Colours

@mixin green {
	background-color: colours.$btn-green-background;
	border-color: colours.$btn-green-border;
	color: colours.$btn-green-font;

	&:active {
		background-color: colours.$btn-green-active-background;
		border-color: colours.$btn-green-border;
		color: colours.$btn-green-active-font;
	}
}


@mixin orange {
	background-color: colours.$btn-orange-background;
	border-color: colours.$btn-orange-border;
	color: colours.$btn-orange-font;

	&:active {
		background-color: colours.$btn-orange-active-background;
		border-color: colours.$btn-orange-active-border;
		color: colours.$btn-orange-active-font;
	}
}