@import url("https://fonts.googleapis.com/css?family=Heebo");

$native-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

@mixin title {
	font-family: "cabin", "Heebo", sans-serif;
	font-weight: 500;
}