@use "colours";
@use "messages";


.container {
	@include messages.container;

	text-align: left;
}


.plain-message {
	@include messages.base;
	
	background: colours.$highlighted-primary-background;
	cursor: default;
}