@use "colours";
@use "messages";
@use "ui";


.container {
	@include messages.container;

	text-align: left;
}


.message {
	@include messages.base;
	
	background: colours.$highlighted-primary-background;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		bottom: -0.3rem;
		left: -0.2rem;
		border-top: 0.75rem solid colours.$highlighted-primary-background;
		border-right: 0.35rem solid transparent;
		border-bottom: none;
		border-left: 0.35rem solid transparent;
		transform: rotate(45deg);
	}
}

.inner-text {
	@include messages.inner-text;
}


// Style the markdown inside messages

.pre {
	display: inline-block;
	border-radius: ui.$small-curve;
	max-width: messages.$inner-max-width;
	overflow-x: scroll;

	&:last-child {
		margin-bottom: 0 !important;
	}
}


.blockquote {
	color: colours.$quote-font;
	background-color: colours.$quote-background;
	border-left: 0.5rem solid colours.$quote-left-border;
	padding-left: 0.5rem;
	font-size: 1.2rem;
}


.img {
	max-width: messages.$inner-max-width;
	border-radius: ui.$small-curve;
}


.ul:not(.checklist) {
	list-style-position: inside;
}


.ol:not(.checklist) {
	list-style-position: inside;
}


.ul.checklist, .ol.checklist {
	list-style: none;
}

.table {
	border-collapse: collapse;
	max-width: messages.$inner-max-width;
}

.td, .th {
	border: 1px solid colours.$separating-border;
	padding: 0.1rem 0.5rem;
}