@use "colours";
@use "ui";
@use "forms";
@use "buttons";


@import "login-forms.scss";


#box-summary {
	cursor: default !important;
}


.input {
	@include forms.input;
}


.label {
	@include forms.label;

	> .checkbox {
		@include forms.checkbox;
	}
}


.error-msg {
	color: red;
	font-size: 0.85rem;
}


.forgot-link {
	float: right;
	font-size: 0.85rem;
	text-decoration: underline;
	color: colours.$link-colour;
}


button#submit {
	@include buttons.base;
	@include buttons.pill;
	@include buttons.green;

	margin-top: 0.5rem;
}