$primary-background: white;
$contrast-background: #08060b;
$highlighted-primary-background: #e2e2e2;

$primary-font: #333;
$secondary-font: #555;
$placeholder-font: #828282;
$contrast-title: white;

$input-inactive-border: #ccc;
$input-active-border: #e9a16bd0;
$input-active-shadow:#eb6804c2;

$primary-btn-background: #ff8400;
$primary-btn-active-background: #d17128;
$primary-btn-border: #ca6c24;
$primary-btn-active-border: #bd621c;
$primary-btn-font: #ffffff;
$primary-btn-active-font: #ebebeb;

$separating-border: #b1b1b1;

$light-shadow: rgba(100,100,100,0.25);
$medium-shadow: rgba(0,0,0, 0.4);