@use "colours";
@use "breakpoints";

$med-curve: 1.75rem;


@mixin box {
	display: block;
	margin: auto;
	width: calc(100vw - 8rem);
	background-color: colours.$primary-background;
	border-radius: 2.5rem;
	padding: 2.5rem;
	box-shadow: 0.5rem 0.5rem 1rem colours.$medium-shadow;
}


@mixin btn {
	border-width: 1.5px;
	border-style: solid;
	border-radius: $med-curve;
	padding: 0.325rem 1rem;
	font-size: 0.85rem;
	cursor: pointer;
}