@use "fonts";
@use "colours";


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html, body, div#__next {
	width: 100%;
	min-height: 100vh;
}


body {
	font-family: fonts.$native-stack;
	color: colours.$primary-font;
	line-height: 1.35;
	background-color: colours.$page-background;
	overflow: hidden scroll;
}