@use "fonts";
@use "colours";


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html, body, div#__next {
	width: 100%;
	min-height: 100vh;
	// @supports(height: -webkit-fill-available) {
	// 	min-height: -webkit-fill-available;
	// }
}


body {
	font-family: fonts.$native-stack;
	color: colours.$primary-font;
	line-height: 1.35;
	overflow: hidden;
	background-color: colours.$page-background;
}