@use "fonts";
@use "colours";


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100vh;
}

body {
	font-family: fonts.$native-stack;
	color: colours.$primary-font;
	line-height: 1.5;
	overflow: hidden;
	background-color: colours.$page-background;
}