@use "colours";


#main {
	width: calc(100% - 3rem);
	margin: 0 1.5rem;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	height: calc(100vh - 5rem);
	background-color: colours.$primary-background;
	padding: 0.75rem 1rem;
}