@use "breakpoints";
@use "colours";
@use "fonts";
@use "ui";


#page {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	min-width: 100vw;
	min-height: 100vh;
	padding-bottom: 5rem;
}


#hero-container {
	height: calc(60vh - 4rem);
	min-height: 160px;
	position: relative;

	@media(min-width: breakpoints.$tablet) {
		height: calc(100vh - 4rem - 5rem);
	}


	#hero-box {
		@include ui.box;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		@media only screen and (min-width: breakpoints.$tablet) {
			left: 50%;
			transform: translate(-50%, -50%);
			width: min(65vw, 40rem);
		}


		#hero-title {
			text-align: center;
		}
	}
}


.title {
	@include fonts.title;
	margin-bottom: 1rem;
	font-size: 1.5rem;
		
}


#about-box {
	@include ui.box;

	#about-title {
		margin-bottom: 0.25rem;
	}
}
