@use "breakpoints";
@use "colours";
@use "fonts";
@use "ui";


#page {
	overflow-y: scroll;
}


#hero-container {
	height: calc(60vh - 4rem);
	min-height: 160px;
	position: relative;

	@media(min-width: breakpoints.$tablet) {
		height: calc(100vh - 4rem - 5rem);
	}


	#hero-box {
		@include ui.box;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		@media(min-width: breakpoints.$tablet) {
			left: 50%;
			transform: translate(-50%, -50%);
			width: min(65vw, 40rem);
		}


		#hero-title {
			text-align: center;
			font-size: 1.5rem;
			margin-bottom: 1rem;

			@media(min-width: breakpoints.$tablet) {
				font-size: 2rem;
			}
		}
	}
}


.title {
	@include fonts.title;
	margin-bottom: 1rem;
	font-size: 1.5rem;
		
}


#about-box {
	@include ui.box;

	#about-title {
		margin-bottom: 0.25rem;
	}
}
