@use "colours";
@use "ui";


#sidebar {
	width: 100%;
	height: 100%;
	background-color: colours.$contrast-background;
	border-right: 1px solid colours.$page-background;
	overflow: hidden auto;
	padding-top: calc(1rem + env(safe-area-inset-top));
	padding-right: calc(1rem + env(safe-area-inset-right));
	padding-bottom: calc(1rem + env(safe-area-inset-bottom));
	padding-left: calc(1rem + env(safe-area-inset-left));
}


a#home-link {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color: colours.$contrast-primary-font;
	text-decoration: none;

	svg#home-icon {
		width: 1.5rem;
		height: 1.5rem;
		margin-right: 0.5rem;
	}

	span#home-label {
		font-size: 1.35rem;
	}
}


div.separator {
	display: block;
	height: 1.5px; 
	width: 100%;
	margin: 1rem auto;
	background-color: colours.$page-background;
}


#nav-content {
	list-style: none;

	.nav-item {
		border-radius: ui.$small-curve;

		&:not(.with-link) {
			padding: 0.5rem;
		}
	
		&:hover {
			background-color: rgba(0,0,0,0.25);
		}
	}
}



a#user-profile-link {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 0.5rem;
	color: colours.$contrast-primary-font;
	text-decoration: none;

	> img#profile-img {
		width: 1.75rem;
		height: 1.75rem;
		border-radius: 50%;
		margin-right: 0.75rem;
	}
	
	> span.label {
		font-size: 1.1rem;
		font-weight: 400;
	}
}

