@use "colours";
@use "ui";


#form-box {
	max-height: calc(100vh - 10rem);
	margin-top: 5rem;
	display: flex;
	flex-flow: row nowrap;
}

div#register-container {
	width: calc(60% - 0.5px);
	padding-right: 2.5rem;
}

div.v-separator {
	width: 1.5px;
	border-radius: 1px;
	background-color: colours.$separating-border;
}

div#login-container {
	width: calc(40% - 0.5px);
	padding-left: 2.5rem;
}