@use "colours";
@use "ui";


#lesson-list {
	list-style: none;
	max-height: 10rem;

	li#no-items-list-item, li#loading-list-item {
		color: red;
	}

	li.list-item {
		border-radius: ui.$small-curve;

		&:hover {
			background-color: colours.$highlighted-primary-background;
		}

		a.list-item-link {
			display: block;
			padding: 0.5rem;
		}
	}
}
