@use "colours";

div.box {
	display: block;
	margin: auto;
	background-color: colours.$primary-background;
	border-radius: 2.5rem;
	padding: 2.5rem;
	box-shadow: 0.5rem 0.5rem 1rem colours.$medium-shadow;
	width: calc(100vw - 8rem);
}

